.navbar-container {
   

    // .contact-dropdown {
    //     background-color: transparent !important;
    //     .dropdown-menu {
    //         background-color: transparent !important;
    //         border-color:transparent !important;
    //     }
    // }


    .navbar {
       
        background-color: transparent !important;
        margin: 2% 5% 2% 5% !important;
        button {
            margin-right: 0% !important;
        }
    }
    .brand {
        width: 80px;
        margin-right: 15px;
        margin-bottom: 5px;
    }
}