// WORKS STYLING PAGE

.card-group-works {
    display: grid;
    margin: 0% 17% 0% 17%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}

.works-container {
    padding-bottom: 5%;
}